.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  padding: 8.75rem 0 9.1875rem;
 -webkit-box-pack: justify;
     -ms-flex-pack: justify;
         justify-content: space-between;
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
}


.about__img {
  -ms-flex-preferred-size: 42%;
      flex-basis: 42%;
 }
.about__article {
  -ms-flex-preferred-size: 47%;
      flex-basis: 47%;
 }
 
.about__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.0625rem;
   font-weight: bold; 
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #6a6a6a;
}

.about__title::before {
  display: block;
  content: "";
  width: 6px;
  height: 36px;
  margin-right: 1.875rem;
  background-color: #e74c3c;
}

.about__text {
  font-size: 0.875rem;
  line-height: 1.8125rem;
  color: #999999;
  margin-bottom: 2.8125rem;
}

.second {
  margin-bottom: 3rem ;
}

.about__btn {
padding: 1.4375rem 2.8125rem;
border-radius: 4px;
font-family: OpenSans, Arial, Helvetica, sans-serif;
font-size: 0.875rem;
text-align: center;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
color: #fff;
background-color: #e74c3c;
}