.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #d8d9db;
  background-color: #f4f5f9;
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.blog__title {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 9.75rem 0 1.8125rem 0;
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.25rem;
  color: #6a6a6a;
}

.blog__text {
  padding-bottom: 1.9375rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-weight: normal;
  font-size: 0.875rem;
  color: #999999;
  text-transform: none;
}

.blog__gallery {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
}

.blog__gallery--hover:hover>.blog__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__article {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 4.5rem 3.375rem 4.5rem 3rem;
  background-color: #e74e3e;
  text-decoration: none;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.blog__article::before {
  display: block;
  content: " ";
  position: absolute;
  margin-left: -25%;
  top: 48%;
  border: 38px solid transparent;
  border-right: 38px solid #e74e3e;
}

.blog__images {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.blog__paper {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding: 4.5rem 3.375rem 4.5rem 3rem;
  background-color: #e74e3e;
  text-decoration: none;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.blog__paper::after {
  display: block;
  content: " ";
  position: absolute;
  margin-left: 90%;
  top: 48%;
  border: 38px solid transparent;
  border-left: 38px solid #e74e3e;
}

.blog__images--hover:hover>.blog__paper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text {
  text-align: left;
  text-transform: none;
  margin-bottom: 2rem;
}

.subject {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  font-family: SourceSansPro, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}

.subject::after {
  display: block;
  content: " ";
  width: 2.75rem;
  height: 0.25rem;
  margin: 1.25rem 0 3.025rem 0;
  background-color: #fff;
}

.desc {
  margin-bottom: 3.625rem;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.875rem;
  text-transform: none;
  text-align: left;
}

.blog__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  font-style: italic;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  color: #fff;
}

.blog__btn:after {
  display: block;
  content: "\00bb";
  margin-left: 0.625rem;
  color: #fff;
}