.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  padding-top: 7.5rem;
  border: 1px solid #fff;
  border-bottom-color: #e6e7eb;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: OpenSans, Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.home {
  -ms-flex-preferred-size: 13%;
      flex-basis: 13%;
  text-align: center;
}

.icon-square {
  min-width: 88px;
  min-height: 88px;
  padding: 1.6875rem 1.5rem 1.5625rem 1.5625rem; 
  border: 1px solid #e5e5e5;
  margin: 7.5rem 1.9375rem;
}

.icon-heart {
  min-width: 21px;
  min-height: 19px; 
}

.icon-lamp {
   min-width: 17px;
  min-height: 27px;  
}

.icon-glasses {
    min-width: 21px;
  min-height: 19px;
}

.icon-conversation {
    min-width: 21px;
  min-height: 22px;
}

.icon-square--hover:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #e95c4e;
}

.icon-square--hover:hover > .icon-heart {
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
}   

.icon-square--hover:hover > .icon-glasses {
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
}   

.icon-square--hover:hover > .icon-lamp {
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
}   


.icon-square--hover:hover > .icon-conversation {
 -webkit-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
         transform: rotate(-45deg);
}   


.home__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #6a6a6a;
}

.home__title::after {
  display: block;
  content: "";
  width: 41px;
  height: 2px;
  margin: 1.875rem 0;
  background-color: #888888;
}

.home__title--hover:hover {
  color: #e74c3c;
}

.home__text {
  padding-bottom: 7.1875rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  color: #999999;
}